.product-head{
    text-align: center;
    margin-top: 6%;
    margin-bottom: 4%;
}
.product-btn{
    color: orange;
    font-size: 24;
    font-weight: bold;
}
.product-para{
    color: #AFADB5;
    
}